<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>容器组件</title>
</head>
<body>



	<div class="row">
		<div class="card card-border">
			<div class="card-header card-header-divider">
				行
				<div class="tools dropdown">
					<span class="icon mdi mdi-edit">容器</span>
					<span class="icon mdi mdi-refresh-sync">组件</span>
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="icon mdi mdi-more-vert"></span>
					</a>
					<div class="dropdown-menu float-right" role="menu">
						<a class="dropdown-item" href="#">Action</a><a
							class="dropdown-item" href="#">Another action</a><a
							class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Separated link</a>
					</div>
				</div>
<!-- 				<span class="card-subtitle">Card subtitle description</span> -->
			</div>
			<div class="card-body">
				<p>Quisque gravida aliquam diam at cursus, quisque laoreet ac
					lectus a rhoncusac tempus odio.</p>
				<p>Aliquam posuere volutpat turpis, ut euimod diam pellentesque
					at. Sed sit amet nulla a dui dignisim euismod. Morbi luctus
					elementum dictum. Donec convallis mattis elit id varius. Quisque
					facilisis sapien quis mauris, erat condimentum.</p>
			</div>
		</div>
	</div>








	<script type="text/javascript" th:inline="javascript">
		
	</script>

	</div>

</body>
</html>