<div class='row'>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='card card-default card-contrast'>
				<div class='card-header'>
					行
					<div class='tools'>
						<span class='icon mdi mdi-close'></span>
					</div>
				</div>
				<div class='card-body card-body-contrast'>
					<div class='row'>
						<div class='col-lg-3'>
							<div class='card card-border'>
								<div class='card-header card-header-divider'>
									列
									<div class='tools dropdown'>
										<a class='dropdown-toggle' href='#' role='button'
											data-toggle='dropdown'> <span
											class='icon mdi mdi-view-web'> 添加布局</span>
										</a>
										<div class='dropdown-menu float-right' role='menu'>
											<a class='dropdown-item' href='#'>12</a> <a
												class='dropdown-item' href='#'>6 6</a> <a
												class='dropdown-item' href='#'>8 4</a> <a
												class='dropdown-item' href='#'>3 9</a>
											<div class='dropdown-divider'></div>
											<a class='dropdown-item' href='#'> <input type='text'>
											</a>
										</div>
									</div>
									<div class='card-body'>
										<div id='layoutContainer'></div>
									</div>
								</div>
							</div>
						</div>
						<div class='col-lg-9'>
							<div class='card card-border'>
								<div class='card-header card-header-divider'>
									列
									<div class='tools dropdown'>
										<a class='dropdown-toggle' href='#' role='button'
											data-toggle='dropdown'> <span
											class='icon mdi mdi-view-web'> 添加布局</span>
										</a>
										<div class='dropdown-menu float-right' role='menu'>
											<a class='dropdown-item' href='#'>12</a> <a
												class='dropdown-item' href='#'>6 6</a> <a
												class='dropdown-item' href='#'>8 4</a> <a
												class='dropdown-item' href='#'>3 9</a>
											<div class='dropdown-divider'></div>
											<a class='dropdown-item' href='#'> <input type='text'>
											</a>
										</div>
									</div>
									<div class='card-body'>
										<div id='layoutContainer'></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>